IntegracjaSystemowProjekt-Client/Connected Services/WCFServiceST/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISP.WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISP.WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LaptopsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Laptops" nillable="true" type="tns:ArrayOfLaptop" />
      <xs:element minOccurs="0" name="State" type="tns:ResponseState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaptopsResponse" nillable="true" type="tns:LaptopsResponse" />
  <xs:complexType name="ArrayOfLaptop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laptop" nillable="true" type="tns:Laptop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaptop" nillable="true" type="tns:ArrayOfLaptop" />
  <xs:complexType name="Laptop">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiskSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Gpu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsTouchable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPhysicalCores" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Os" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenDiagonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenSurfaceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vram" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Laptop" nillable="true" type="tns:Laptop" />
  <xs:simpleType name="ResponseState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseState" nillable="true" type="tns:ResponseState" />
</xs:schema>