IntegracjaSystemowProjekt-Client/Connected Services/WCFServiceST/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6968/WCFServiceST/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6968/WCFServiceST/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ISP.WCF.Models" />
  <xs:element name="GetLaptopCountByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaptopCountByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLaptopCountByManufacturerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaptopCountByScreenAspectRatio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aspectRatio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaptopCountByScreenAspectRatioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLaptopCountByScreenAspectRatioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfScreenAspectRatios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfScreenAspectRatiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListOfScreenAspectRatiosResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfScreenSurfaceTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfScreenSurfaceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListOfScreenSurfaceTypesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfManufacturerNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfManufacturerNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListOfManufacturerNamesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaptopsByScreenType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screenType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaptopsByScreenTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ISP.WCF.Models" minOccurs="0" name="GetLaptopsByScreenTypeResult" nillable="true" type="q4:LaptopsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>